fastapi
fastapi-offline
uvicorn
gunicorn
aiofiles
requests
httpx
python-multipart
ujson
msgpack
tqdm
numba==0.59.1
opencv-python
scikit-image
onnx
onnxruntime
onnx-simplifier
PyTurboJPEG<2
exifread
imageio
aiohttp
tenacity
colorlog
numpy<2
